<br><br><br><br>
<div class="container">
<form class="example-form">
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Favorite food" value="Sushi">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <textarea matInput placeholder="Leave a comment"></textarea>
  </mat-form-field>
</form>
</div>


<div id="content" #content>
  <h1>Hai</h1>
  <p>hi this for test to covert html to pdf :-)</p>
  </div>
  <button type="btn btn-primary" (click)="downloadpdf()">Export as PDF</button>